.goodsWrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delBtn {
    width: 25px;
    height: 25px;
    margin: 15px;
}
.goodsPrise {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    background-color: #9300ef;
}
