.footer{
    background-color: rgb(72, 17, 115);
     display: flex;
     margin-top: auto;   
}

.container{
    display: flex; 
    align-items: center;
     justify-content: center;  
}

p{
    color: white;  
}

.project{
    color: white;
    margin-top: 1rem;
}
