.header{

    &__container{
            max-width: 1400px;
            margin: auto;
            padding: 0 24px;
            background-image: url('../img/header.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 20px 0 20px 0;
            position: relative;
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between; /* Равномерно распределить элементы по горизонтали */
            background-color: transparent;
    }
  
&__input-container{
    position: relative
}

    &__logo{
        @include logo;
        margin: 0px 30px 0px 15px;
        max-width: 279 px;
    }


    &__basket-button{
        max-width: 200px;
        height: 76px;
    }

    &__search{
        position: relative;
        flex: 1;
        
        &-input{
            border-radius: 19px;
            font-size:$_30px;
            height: 60px;
            letter-spacing: -.3px;
            padding-bottom: 4px;
            padding-left: 41px;
            width: 100%;
        
           
            
        }
        .fa-magnifying-glass{
            position: absolute;
            top: 50%;
            left: 20px; 
            transform: translateY(-50%);
            text-align: center;
        }
        
    }

    &__basket{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
       

        &-button{
            max-width: 250px;
            height: 60px;
            border: solid white;
            border-radius: 19px;
            background-color: transparent; /* Прозрачный фон */
            background-color: rgb(147,0,239);
            color:white;
            padding: 10px 20px; 
            cursor: pointer; 
            font-size:$_24px;
            &:hover{
                transition: 0.4s;
                background-color: rgb(177, 30, 269); 
                .fa-basket-shopping{
                    color: violet;
                }
            }
    
            .fa-basket-shopping{
                margin-right: 10px;
        }
    }
}}