* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@import "../scss/variables";
@import "../scss/mixins";
@import "../scss/cdn";
@import "../scss/header.scss";
@import "../scss/advertising.scss";
@import "../scss/main.scss";
@import "../scss/slider.scss";
@import "../scss/footer.scss"; 
@import "bootstrap/scss/bootstrap";

@import "./adaptive.scss";

@import "../scss/basket.scss";


html {
    font-family: "Mukta", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    max-width: 1400px;
    margin: auto;
    padding: 0 24px;
}